{% extends 'layout.html' %}

{% block title %} 

Principal

{% endblock %}

{% block body %} 

        <!-- Sección principal -->
        <div class="col-md-9">
            <!-- Caja de texto con lista desplegable para temas -->
            <h2>Usuario: {{UsAct.nombre}}</h1>
            <div class="mt-4">
                <h4>Escribe un comentario:</h4>
                <form action="/agregarPosteo" method="post">
                    <div class="form-group">
                        <textarea class="form-control" rows="1" id="commentInput" name="fecha" placeholder="Fecha"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="1" id="commentInput" name="titulo" placeholder="Titulo"></textarea>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="topicSelect" name="categ">
                            {% for categoria in listaCategorias %} 
                            <option value="{{categoria.nombre}}">{{categoria.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" id="commentInput" name="texto" placeholder="Hace tu posteo"></textarea>
                    </div>
                    <input type="hidden" name="idUsuario" value= "{{UsAct.id}}">
                    <button type="submit" class="btn btn-primary">Enviar Comentario</button>

                </form>
            </div>
            <!-- Lista de comentarios escritos -->
            <div class="mt-4">

                <h4>Posteos:</h4>

               
            </div>
        </div>

{% endblock %}